![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Nintendo vs Sony"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Comparacion en ventas de software de las dos grandes empresas japonesas"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

hipotesis_1 = "Las consolas de Sony de sobremesa van a ganar en ventas de software en todos los duelos"

hipotesis_2 = "Las consolas portatiles de Nintendo van a ganar la partida a las portatiles de Sony"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [7]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv('datos_videojuegos_definitivo.csv')
fuente_1 = "https://www.vgchartz.com/games/games.php?name=&keyword=&console=&region=All&developer=&publisher=&goty_year=&genre=&boxart=Both&banner=Both&ownership=Both&showmultiplat=No&results=50&order=Sales&showtotalsales=0&showtotalsales=1&showpublisher=0&showvgchartzscore=0&shownasales=0&shownasales=1&showdeveloper=0&showcriticscore=0&showpalsales=0&showpalsales=1&showreleasedate=0&showuserscore=0&showjapansales=0&showjapansales=1&showlastupdate=0&showothersales=0&showshipped=0"
df_2 = pd.read_csv('venta_consolas.csv', sep=';')
fuente_2 = "https://www.vgchartz.com/charts/platform_totals/Hardware.php/"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
# Primer dataset
df_1.head()

,Pos,Game,Game.1,Console,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Unnamed: 10_level_2,Genero,Plataforma
0,1,NaN,Pokémon Red / Green / Blue Version,NaN,31.37m,11.27m,8.89m,10.22m,1.00m,30th Sep 98,NaN,Role-Playing,GB
1,2,NaN,Pokémon Gold / Silver Version,NaN,23.10m,9.00m,6.18m,7.20m,0.71m,14th Oct 00,NaN,Role-Playing,GB
2,3,NaN,Pokémon Yellow: Special Pikachu Edition,NaN,14.64m,5.89m,5.04m,3.12m,0.59m,19th Oct 99,NaN,Role-Playing,GB
3,4,NaN,Dragon Quest Monsters,NaN,2.35m,NaN,NaN,2.34m,0.01m,31st Dec 99,NaN,Role-Playing,GB
4,5,NaN,Yu-Gi-Oh: Duel Monsters 4,NaN,2.18m,NaN,NaN,2.17m,0.01m,07th Dec 00,NaN,Role-Playing,GB

In [8]:
# Siguiente dataset...
df_2.head()

,Plataforma,América del norte,Europa,Japón,Resto del mundo,Global,Unnamed: 6
0,PS2,53.65,55.28,23.18,"27,9",160.01,NaN
1,DS,"57,92",51.84,"32,99",11.28,154.02,NaN
2,NS,52.78,"38,79","35,79",23.16,150.52,NaN
3,GB,43.18,40.05,32.47,"2,99",118.69,NaN
4,PS4,38.12,45.86,9.68,23.53,117.20,NaN