In [ ]:
# Importamos los modulos que vamos a utilizar
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np

In [ ]:
# Conseguimos los datos en un bucle doble primero buscamos por cada plataforma y generos

consolas = ['GB','GBC','GBA','NES','NS','GC','N64','Wii','WiiU','PSP','PSV' 'PS', 'PS2','PS3','PS4']
generos = ['Role-Playing', 'Action', 'Adventure', 'Action-Adventure', 'Misc', 'Platform', 'Puzzle', 'Racing', 'Shooter', 'Simulation', 'Sports', 'Strategy']

lista_de_dataframes = []

for consola in consolas:
    for genero in generos:
        # Este metodo de web scraping lo encontré por youtube y me ha resultado muy útil extraia exactamente lo que quería
        url = f'https://www.vgchartz.com/games/games.php?name=&keyword=&console={consola}&region=All&developer=&publisher=&goty_year=&genre={genero}&boxart=Both&banner=Both&ownership=Both&showmultiplat=No&results=200&order=Sales&showtotalsales=0&showtotalsales=1&showpublisher=0&showvgchartzscore=0&shownasales=0&shownasales=1&showdeveloper=0&showcriticscore=0&showpalsales=0&showpalsales=1&showreleasedate=0&showreleasedate=1&showuserscore=0&showjapansales=0&showjapansales=1&showlastupdate=0&showothersales=0&showothersales=1&showshipped=0'
        # Creo la variable df_temporal para que el bucle me funcione como deseo
        df_temporal = pd.read_html(url)[-2]
        # La tabla me salia en un formato que no me gustaba y con esto me quedo solo con los titulos de la columnas
        df_temporal.columns = df_temporal.columns.get_level_values(2)
        
        df_temporal['Genero'] = genero
        df_temporal['Plataforma'] = consola
        
        lista_de_dataframes.append(df_temporal)

df_final = pd.concat(lista_de_dataframes, ignore_index=True)

In [ ]:
df_final.to_csv('datos_videojuegos_2.csv', index=False) #Guardo el DataFrame como CSV para no tener que volver a realizar el Web Scraping

In [ ]:
df_cargado = pd.read_csv('datos_videojuegos_2.csv') # Cargo el DataFrame y veo que hay mucha informacion que no quiero tener
df_cargado

,Pos,Game,Game.1,Console,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Unnamed: 10_level_2,Genero,Plataforma
0,1,NaN,Pokémon Red / Green / Blue Version,NaN,31.37m,11.27m,8.89m,10.22m,1.00m,30th Sep 98,NaN,Role-Playing,GB
1,2,NaN,Pokémon Gold / Silver Version,NaN,23.10m,9.00m,6.18m,7.20m,0.71m,14th Oct 00,NaN,Role-Playing,GB
2,3,NaN,Pokémon Yellow: Special Pikachu Edition,NaN,14.64m,5.89m,5.04m,3.12m,0.59m,19th Oct 99,NaN,Role-Playing,GB
3,4,NaN,Dragon Quest Monsters,NaN,2.35m,NaN,NaN,2.34m,0.01m,31st Dec 99,NaN,Role-Playing,GB
4,5,NaN,Yu-Gi-Oh: Duel Monsters 4,NaN,2.18m,NaN,NaN,2.17m,0.01m,07th Dec 00,NaN,Role-Playing,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15140,93,NaN,"Warhammer 40,000: Chaos Gate – Daemonhunters",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strategy,PS4
15141,94,NaN,WARSAW,NaN,NaN,NaN,NaN,NaN,NaN,29th Sep 20,NaN,Strategy,PS4
15142,95,NaN,X-Morph: Defense,NaN,NaN,NaN,NaN,NaN,NaN,30th Aug 17,NaN,Strategy,PS4
15143,96,NaN,Yu-Gi-Oh! Legacy of the Duelist,NaN,NaN,NaN,NaN,NaN,NaN,31st Jul 15,NaN,Strategy,PS4
15144,97,NaN,Yu-Gi-Oh! Master Duel,NaN,NaN,NaN,NaN,NaN,NaN,19th Jan 22,NaN,Strategy,PS4

In [3]:
#seleciono las columnas que deseo trabajar con ellas y les cambio los nombres
df_cargado=df_cargado[['Game.1','Total Sales','NA Sales','PAL Sales','Japan Sales','Other Sales','Release Date','Genero','Plataforma']]
nuevos_nombres = [
    'Nombre',
    'Ventas Totales',
    'Ventas Norte América',
    'Ventas Europa',
    'Ventas Japón',
    'Ventas Otros',
    'Fecha Salida',
    'Genero',
    'Plataforma'
]
df_cargado.columns = nuevos_nombres

In [4]:
# Voy a darle formato numerico a las columnas para poder trabajar con ellas
columnas_ventas = [
    'Ventas Totales',
    'Ventas Norte América',
    'Ventas Europa',
    'Ventas Japón',
    'Ventas Otros'
]
df_cargado[columnas_ventas] = df_cargado[columnas_ventas].apply(lambda x: x.str.replace('m', ''))
df_cargado[columnas_ventas] = df_cargado[columnas_ventas].apply(pd.to_numeric, errors='coerce')

C:\Users\eduar\AppData\Local\Temp\ipykernel_6212\2481201072.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cargado[columnas_ventas] = df_cargado[columnas_ventas].apply(lambda x: x.str.replace('m', ''))
C:\Users\eduar\AppData\Local\Temp\ipykernel_6212\2481201072.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cargado[columnas_ventas] = df_cargado[columnas_ventas].apply(pd.to_numeric, errors='coerce')

In [5]:
# elimino todos los Nan porque no quiero trabajar con filas que no esten completas.
df=df_cargado.copy()
df.dropna(axis=0,how="any",inplace=True)
df = df.reset_index(drop=True)

In [6]:
# Le cambio el formato a la columna fecha de salida para trabajar con uno que estoy mas acostumbrado
df['Fecha Salida'] = pd.to_datetime(df['Fecha Salida'])
df['Fecha Salida'] = df['Fecha Salida'].dt.strftime('%d/%m/%Y')
df

C:\Users\eduar\AppData\Local\Temp\ipykernel_6212\1544092150.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Fecha Salida'] = pd.to_datetime(df['Fecha Salida'])

,Nombre,Ventas Totales,Ventas Norte América,Ventas Europa,Ventas Japón,Ventas Otros,Fecha Salida,Genero,Plataforma
0,Pokémon Red / Green / Blue Version,31.37,11.27,8.89,10.22,1.00,30/09/1998,Role-Playing,GB
1,Pokémon Gold / Silver Version,23.10,9.00,6.18,7.20,0.71,14/10/2000,Role-Playing,GB
2,Pokémon Yellow: Special Pikachu Edition,14.64,5.89,5.04,3.12,0.59,19/10/1999,Role-Playing,GB
3,Harry Potter and the Sorcerer's Stone,1.73,0.94,0.62,0.10,0.07,21/11/2001,Action,GB
4,The Legend of Zelda: Link's Awakening,3.83,2.21,0.96,0.54,0.13,01/08/1993,Adventure,GB
...,...,...,...,...,...,...,...,...,...
1633,Pro Evolution Soccer 2018,0.75,0.12,0.36,0.19,0.09,12/09/2017,Sports,PS4
1634,Pro Evolution Soccer 2017,0.75,0.08,0.41,0.18,0.09,13/09/2016,Sports,PS4
1635,Everybody's Golf,0.56,0.12,0.22,0.17,0.06,29/08/2017,Sports,PS4
1636,Pro Evolution Soccer 2019,0.50,0.06,0.23,0.15,0.05,28/08/2018,Sports,PS4
1637,Sudden Strike 4,0.10,0.05,0.03,0.01,0.02,15/08/2017,Strategy,PS4

In [ ]:
# Voy a añadir una nueva columna para poder agrupar por compañia para ello voy a crear una funcion sencilla.

plataformas_nintendo = ['NES', 'GB', 'GBC', 'N64', 'GBA', 'GC', 'Wii', 'WiiU', 'NS']
plataformas_sony = ['PS', 'PS2', 'PS3', 'PS4', 'PS5', 'PSP', 'PSV']


def asignar_marca(plataforma):
    if plataforma in plataformas_nintendo:
        return 'Nintendo'
    elif plataforma in plataformas_sony:
        return 'Sony'

df['Marca'] = df['Plataforma'].apply(asignar_marca)

df = df.set_index('Nombre')

KeyError: "None of ['Nombre'] are in the columns"

In [34]:
df

,Ventas Totales,Ventas Norte América,Ventas Europa,Ventas Japón,Ventas Otros,Fecha Salida,Genero,Plataforma,Marca
Nombre,,,,,,,,,
Pokémon Red / Green / Blue Version,31.37,11.27,8.89,10.22,1.00,30/09/1998,Role-Playing,GB,Nintendo
Pokémon Gold / Silver Version,23.10,9.00,6.18,7.20,0.71,14/10/2000,Role-Playing,GB,Nintendo
Pokémon Yellow: Special Pikachu Edition,14.64,5.89,5.04,3.12,0.59,19/10/1999,Role-Playing,GB,Nintendo
Harry Potter and the Sorcerer's Stone,1.73,0.94,0.62,0.10,0.07,21/11/2001,Action,GB,Nintendo
The Legend of Zelda: Link's Awakening,3.83,2.21,0.96,0.54,0.13,01/08/1993,Adventure,GB,Nintendo
...,...,...,...,...,...,...,...,...,...
Pro Evolution Soccer 2018,0.75,0.12,0.36,0.19,0.09,12/09/2017,Sports,PS4,Sony
Pro Evolution Soccer 2017,0.75,0.08,0.41,0.18,0.09,13/09/2016,Sports,PS4,Sony
Everybody's Golf,0.56,0.12,0.22,0.17,0.06,29/08/2017,Sports,PS4,Sony
Pro Evolution Soccer 2019,0.50,0.06,0.23,0.15,0.05,28/08/2018,Sports,PS4,Sony
Sudden Strike 4,0.10,0.05,0.03,0.01,0.02,15/08/2017,Strategy,PS4,Sony

In [ ]:
#Comienzo con un analisis general
# ¿Cuál es el Top 10 de los videojuegos más vendidos de la historia en este dataset?
ventas_totales=df['Ventas Totales'].sort_values(ascending=False).head(10).to_frame()
ventas_totales
# Podemos observar que los juegos que aparecen son exclusivos de Nintendo no hay ningun juego multiplataforma

                                           Ventas Totales
Nombre
Wii Sports                                          82.65
Super Mario Bros.                                   40.24
Mario Kart Wii Read the review                      35.98
Wii Sports Resort Read the review                   32.90
Pokémon Red / Green / Blue Version                  31.37
Tetris                                              30.26
Wii Play Read the review                            28.92
New Super Mario Bros. Wii Read the review           28.51
Duck Hunt                                           28.31
Pokémon Gold / Silver Version                       23.10

In [ ]:
#¿Qué género ha generado más ventas totales sumando todas las consolas?
generos_mas_vendidos = df.groupby('Genero')['Ventas Totales'].sum().sort_values(ascending=False).to_frame()
generos_mas_vendidos

                  Ventas Totales
Genero
Sports                    542.83
Action                    514.41
Shooter                   461.81
Platform                  433.61
Role-Playing              358.70
Racing                    282.69
Misc                      168.44
Action-Adventure          131.28
Adventure                 115.17
Puzzle                     87.18
Simulation                 58.73
Strategy                   32.36

In [ ]:
#¿Cuál es la consola con mayores ventas de juegos totales acumuladas?
plataforma_mas_vendida = df.groupby('Plataforma')['Ventas Totales'].sum().sort_values(ascending=False).to_frame()
plataforma_mas_vendida

            Ventas Totales
Plataforma
PS3                 640.75
PS2                 527.13
PS4                 519.54
Wii                 483.84
GB                  204.09
NES                 196.22
GBA                 135.71
N64                 129.18
PSP                 104.15
GC                   91.61
NS                   73.27
WiiU                 59.90
GBC                  21.82

In [36]:
# ¿Quién ha vendido más videojuegos en total, Nintendo o PlayStation?
marca_mas_vendida = df.groupby('Marca')['Ventas Totales'].sum().sort_values(ascending=False).to_frame()
marca_mas_vendida

          Ventas Totales
Marca
Sony             1791.57
Nintendo         1395.64